<link rel="stylesheet" href="/css/home.css" />
<script src="/js/home.js"></script>

<section id="feed-posts">

    <% if(locals.user){ %>
    <main class="my-form">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Add new Post</div>
                        <div class="card-body">
                            <form name="my-form" action="/posts/create" id="new-post-form" method="post">

                                <div class="form-group">

                                    <textarea class="form-control" placeholder="Write your post here..."
                                        id="create-post" name="content" rows="2" required></textarea>
                                </div>

                                <div class="col-md-2 offset-md-4 float-right">
                                    <button type="submit" class="btn btn-warning text-light">
                                        Post
                                    </button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <% } %>

    <div class="container post-list-container">
        <% for(post of posts){ %>
        <div class="col-md-6">
            <div class="card my-3">
                <div class="card-header">
                    <%= post.user.name %>
                </div>
                <div class="card-body py-1">
                    <div class="form-group">
                        <p>
                            <%= post.content %>
                        </p>
                    </div>

                    <div class="post-comments">

                        <% if(locals.user){ %>
                        <hr class="my-1">
                        <form name="my-form" onsubmit="return validform()" action="/comments/create" method="post">
                            <div class="form-group row my-1">

                                <div class="col col-md-8">
                                    <input type="text" name="content" class="form-control" style="width:100%;"
                                        placeholder="Add comment...">
                                    <input type="hidden" name="post" value="<%= post._id %>">
                                </div>

                                <div class="col col-md-4">
                                    <button type="submit" class="btn btn-warning text-light py-1">Add Comment</button>
                                </div>
                            </div>
                        </form>
                        <% } %>
                    </div>
                </div>
                <div class="post-comments-list px-3">
                    <% if(post.comments){%>
                    <hr class="my-1">
                    <h4>Comments</h4>
                    <% } %>
                    <ul class="list-group" id="post-comments-<%= post._id %>">
                        <% for(comment of post.comments){ %>
                        <li>
                            <div class="row">
                                <div class="col col-md-2">
                                    <small style="color:green"> <b><%= comment.user.name %></b> </small>
                                </div>
                                <div class="col col-md-9">
                                    <p>
                                        <%= comment.content %>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</section>